<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,151},{113,77}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>coins_digit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,100},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{20,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,138},{30,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,261},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,151},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,268},{28,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,189},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,261},{28,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,230},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_digit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,227},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>coins_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,338},{55,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>dot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,57},{15,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>dot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,40},{15,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>inApp_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{194,96}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,151},{84,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{96,116}</string>
            </dict>
            <key>menu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,402},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>menu_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>next_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,398},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>next_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{147,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>pause_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,176},{57,63}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>rabit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{111,151}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>sourceSize</key>
                <string>{159,221}</string>
            </dict>
            <key>rabit_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,338},{43,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>resume_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>resume_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>retry_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,237},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>retry_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,249},{147,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>star_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,151},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>star_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,206},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{510,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca574cf1e16b51672c0be587b3f8709e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
