<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alreadyPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>lockLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>nextPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>nextPagePre.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{95,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{95,96}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>notPassYet.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>prePage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>prePagePre.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{95,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{95,96}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startUI.png</string>
            <key>size</key>
            <string>{694,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d21b0c509ba0583d9b3720b385f2f9b:1/1$</string>
            <key>textureFileName</key>
            <string>startUI.png</string>
        </dict>
    </dict>
</plist>
